@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("dxes.js")" type="text/javascript"></script>
        <script type="text/javascript">
        dxes("dx").subscribeComet("global", function(data) {
        	$("body").prepend("<div>" + data.foo + "</div>")
        });
        </script>
    </head>
    <body>
        @content
    </body>
</html>
