@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("dxio.js")" type="text/javascript"></script>
        <script type="text/javascript">
        dxio("dx").subscribeComet("global", function(data) {
        	console.log(data);
        });
        </script>
    </head>
    <body>
        @content
    </body>
</html>
